.fab-icons {
  color: white !important;
}
.fab-icons::after {
  background-color: transparent !important;
}

.mobileColumnPlayer {
  height: 50% !important;
  position: relative;
  background-color: #3aafa9;
  color: #17252a;
}

.mobileColumnControls {
  height: 50% !important;
  background-color: #fff;
  color: #17252a;
  font-size: 0.8rem !important;
  font-weight: bold;
}

.desktopColumnPlayer {
  height: 100% !important;
  background-color: #3aafa9;
  color: #17252a;
}

.desktopColumnControls {
  height: 100% !important;
  background-color: #ecf3f3;
  color: rgb(215, 250, 16);
}

.nowPlayingText {
  font-size: 2rem !important;
}
.circle-container-row {
  height: 25vh !important;
}

// .margin-top-play-button {
//   margin-top: 155px;
// }

.theme--light.v-list {
  background: #17252a;
}
.v-list-item__content {
  color: white;
}
.v-list .v-list-item--active {
  background-color: #717274;
}
.theme--light.v-list-item:hover:before {
  opacity: 0.8;
}

.v-input--selection-controls__ripple {
  background-color: none !important;
  height: 0 !important;
}
.v-messages {
  color: #17252a !important;
}
.v-input {
  color: #17252a !important;
}
.ratio-setting .v-label {
  color: #17252a !important;
}
.ratio-setting i {
  color: #17252a !important;
}
