// .play-button {
//   position: absolute;
//   height: 62px !important;
//   width: 62px !important;
//   bottom: -31px;
// }

.fab-icons {
  color: white !important;
}
.fab-icons::after {
  background-color: transparent !important;
}

.mobileColumnPlayer {
  height: 50% !important;
  position: relative;
  background-color: #3aafa9;
  color: #17252a;
}

.mobileColumnControls {
  height: 50% !important;
  background-color: #fff;
  color: #17252a;
  font-size: 0.8rem !important;
  font-weight: bold;
}

.desktopColumnPlayer {
  height: 100% !important;
  background-color: #3aafa9;
  color: #17252a;
}

.desktopColumnControls {
  height: 100% !important;
  background-color: #3aafa9;
  color: rgb(215, 250, 16);
}

.breathing-circle {
  height: 25vh;
  width: 25vh;
  background-color: white;
  border-radius: 50%;
  min-width: 100px;
  min-height: 100px;
}

.nowPlayingText {
  font-size: 2rem !important;
}
.circle-container-row {
  height: 25vh !important;
}

.select-techniques {
  color: black;
}
